<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Home page</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container" th:include="mtemplate :: logo"></div>

	<div class="container">
		<div class="jumbotron">
			<p th:text="${myMessage}" />
			<a th:href="@{/genericError}">View Generic Error Page</a> <a
				th:href="@{/authError}">View Auth Error Page</a>
		</div>
	</div>

	<div class="container" th:include="mtemplate :: copy"></div>

</body>
</html>